<div class="page-header">
  <h1><%= @photo.title %></h1>
</div>

<p>
  <%= image_tag @photo.photo.url(:large), :class => "img-responsive" %>
</p>

<h4>Description</h4>
<%= simple_format @photo.description %>